.container {
 padding-left: rem(70px);
 padding-right: rem(70px);
 @media (max-width: 1440px) {
  padding-left: rem(40px);
  padding-right: rem(40px);
 }
 @media (max-width: 1023px) {
  padding-left: rem(20px);
  padding-right: rem(20px);
 }
 @media (max-width: 768px) {
  padding-left: rem(20px);
  padding-right: rem(20px);
 }
}
.container .main__top-wrapper.mobile {
 padding-left: 0;
 padding-right: 0;
}

.container.aside-container {
 padding-left: rem(20px);
 padding-right: rem(20px);
}
@media (max-width: 768px) {
 .container.aside-container {
  padding-left: 17px;
  padding-right: 17px;
 }
}
@include onlymobile {
 .container.aside-container {
  padding-right: 0;
  padding-left: 0;
 }
}
