.aside {
 background: rgba(0, 0, 0, 0.4);
 z-index: 6;
 margin-right: 17px;
 transition: 0.3s;
 height: fit-content;
 position: sticky;
 max-width: 243px;
 width: 100%;
 border-radius: 10px;
 top: 0;
 &__wrapper {
  display: flex;
  flex-direction: column;
 }
 &__item-wrapper {
  column-gap: 12px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 255, 255, 0.6);
  }
 }
 &__list {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
 }
 &__top-wrapper {
  padding-bottom: 52px;
  margin-bottom: 52px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
 }
 &__img {
  transform: scale(1.1);
  margin-bottom: 51px;
 }
 &__title {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  @include banner-font(28px);
 }
 &__subtitle {
  color: rgba(255, 255, 255, 1);
  @include banner-font(76px);
 }
 &__item-wrapper {
  font-size: 14px;
  line-height: 16.52px;
  font-weight: 500;
 }
 &__button {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16.52px;
  display: flex;
  background: none;
  @include gold-color;
  padding: 18.39px 28.02px 18.39px 28.02px;
  border-radius: 70px;
  transition: 0.3s;
  position: relative;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 221, 147, 1);
   box-shadow: 0px 0px 33px 0px rgba(196, 167, 103, 1);
  }
  &::before {
   content: '';
   position: absolute;
   inset: 0;
   border-radius: 70px;
   border: 2px solid transparent;
   background: linear-gradient(
     140deg,
     rgba(238, 222, 186, 1),
     rgba(196, 167, 103, 1)
    )
    border-box;
   mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
   mask-composite: exclude;
  }
  &:active {
   color: rgba(196, 167, 103, 1);
   box-shadow: 0px 0px 17.8px 0px rgba(196, 167, 103, 1);
  }
 }

 &__item {
  column-gap: 12px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  cursor: default;
 }
 &__item.selected {
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.4);
 }
 &__item-list {
  row-gap: 19px;
  flex-direction: column;
  display: flex;
  padding: 32px;
  align-items: flex-start;
 }
 &__item-list-wrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;
 }
 &__list-item {
  font-size: 12px;
  line-height: 14.16px;
  color: rgba(196, 167, 103, 1);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 255, 255, 1);
  }
 }
 @media only screen and (max-width: 1410px) {
  &__img {
   display: none;
  }
  &__top-wrapper {
   padding-top: 25px;
  }
 }
 @media only screen and (max-width: 767px) {
  display: none;
  height: fit-content;
  position: static;
  &__list {
   display: none;
  }
  &__top-wrapper {
   padding-top: 22px;
   padding-bottom: 0;
   border-bottom: none;
   margin-bottom: 0;
  }
  &__wrapper {
   padding-bottom: 47px;
  }
  &__title {
   line-height: 35px;
   font-size: 25px;
   margin-bottom: 16px;
   width: max-content;
  }
  &__subtitle {
   line-height: 66.24px;
   font-size: 60px;
   margin-bottom: 14px;
  }
 }
 @media only screen and (max-width: 540px) {
  &__top-wrapper {
   padding-top: 0;
   justify-content: space-between;
   display: flex;
   align-items: center;
  }
  &__button {
   max-height: 46px;
   align-items: center;
   height: fit-content;
  }
  &__title {
   line-height: 22.4px;
   font-size: 16px;
   margin-bottom: 8px;
  }
  &__subtitle {
   line-height: 35.33px;
   font-size: 32px;
   margin-bottom: 0;
  }
  &__button {
   font-size: 14px;
  }
  &__wrapper {
   padding-left: 20px;
   padding-right: 16px;
   padding-top: 13px;
   padding-bottom: 9px;
  }
 }
}
.aside.fixed {
 transition: 0.3s;
 position: absolute;
 bottom: 20%;
}
.aside.mobile {
 display: none;
 @media (max-width: 767px) {
  max-width: 215px;
  max-height: 228px;
  margin-right: 13px;
  display: block;
  z-index: 5;
  &__top-wrapper {
   padding-bottom: 47px;
   padding-top: 22px;
  }
 }
 @media only screen and (max-width: 540px) {
  max-width: 340px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  width: 100%;
  position: relative;
  &::before {
   position: absolute;
   content: '';
   background: rgba(196, 167, 103, 1);
   height: 100%;
   width: 1%;
   top: 0;
  }
 }
}
