.aside {
 background: rgba(0, 0, 0, 0.4);
 z-index: 6;
 margin-right: rem(17px);
 transition: 0.3s;
 height: -webkit-fit-content;
 height: -moz-fit-content;
 height: fit-content;
 position: -webkit-sticky;
 position: sticky;
 width: rem(243px);
 border-radius: 10px;
 top: 0;
 -webkit-filter: drop-shadow(4px 4px 21.8px rgba(0, 0, 0, 0.2));
 filter: drop-shadow(4px 4px 21.8px rgba(0, 0, 0, 0.2));

 &__wrapper {
  display: flex;
  flex-direction: column;
 }
 &__account-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-image-source: radial-gradient(
   80.12% 95.28% at 16.15% 4.72%,
   rgba(238, 222, 186, 0.3) 0%,
   rgba(196, 167, 103, 0.3) 100%
  );
  border-image-slice: 1;

  padding-top: rem(29px);
  padding-bottom: rem(27px);
 }
 &__account-wrapper.diamond {
  &::after {
   content: '';
   background: url('../../../img/account/big-spark.svg') no-repeat;
   width: rem(67.34px);
   height: rem(60.37px);
   position: absolute;
   z-index: -1;
   right: -7%;
   top: -1%;
  }
  &::before {
   content: '';
   background: url('../../../img/account/small-spark.svg') no-repeat;
   width: rem(67.34px);
   height: rem(60.37px);
   position: absolute;
   z-index: -1;
   right: 10%;
   top: 1%;
  }
 }
 &__account-level-wrapper {
  margin-bottom: rem(36.67px);
  transform: translateX(-4%);
  position: relative;
 }
 &__account-level-wrapper.diamond {
  background: rgba(35, 35, 35, 1);
 }
 &__account-level {
  padding: rem(10px) 0;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 &__account-level-title {
  @include banner-font(rem(28px));
  text-transform: uppercase;
  line-height: rem(30.91px);
  color: rgba(255, 255, 255, 1);
 }
 &__account-user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(56.22px);
 }
 &__account-user-icon {
  width: rem(105px);
  height: rem(105px);
  margin-bottom: rem(17px);
 }
 &__account-user-name {
  font-size: rem(18px);
  line-height: rem(28.8px);
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  margin-bottom: rem(17px);
 }
 &__account-chars-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rem(2px);
  width: 100%;
  padding: 0 rem(11px);
 }
 &__account-chars {
  display: grid;
  grid-template-columns: 2fr 3fr rem(16px);
  -moz-column-gap: rem(5px);
  column-gap: rem(5px);
  &:nth-last-child(2) {
   margin-bottom: rem(16px);
  }
 }
 &__account-info {
  width: rem(230px);
  position: absolute;
  padding: rem(5px) rem(10px) rem(5px) rem(10px);
  background: rgba(196, 167, 103, 0.1);
  left: 0;
  bottom: 110%;
  opacity: 0;
  visibility: hidden;
  border-radius: rem(10px);
  transition: 0.3s ease-in-out;
 }
 &__account-info-text {
  font-weight: 500;
  font-size: rem(14px);
  line-height: rem(19.04px);
  color: rgba(255, 255, 255, 1);
 }
 &__account-char-name {
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
 }
 &__account-value {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
 }
 &__account-star {
  width: rem(20px);
  height: rem(20px);
 }
 &__account-info-wrapper {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
 }
 &__info-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
 }
 &__account-info-icon {
  width: rem(16px);
  height: rem(16px);
  transition: 0.3s ease-in-out;
  cursor: pointer;
 }
 &__account-info-icon:hover ~ &__account-info {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
 }
 &__account-info-icon-path {
  stroke: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease-in-out;
 }
 &__account-info-icon:hover &__account-info-icon-path {
  stroke: rgba(255, 255, 255, 1);
  transition: 0.3s ease-in-out;
 }

 &__account-text {
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(196, 167, 103, 1);
 }
 &__replenish {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(70.06px);
  padding: rem(16px) 0;
  font-size: rem(14px);
  line-height: rem(16.52px);
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 100%;
  color: rgba(196, 167, 103, 1);
  width: rem(137px);
  align-self: center;
  &:hover {
   color: rgba(255, 221, 147, 1);
   transition: 0.3s;

   box-shadow: 0px 0px 8px 0px rgba(196, 167, 103, 1),
    0px 0px 8px 0px rgba(196, 167, 103, 1),
    inset 0px 0px 18px rgba(196, 167, 103, 0.6);

   text-shadow: 0px 0px 12px rgba(255, 221, 147, 1);
  }
  &:active {
   transition: 0.3s ease-in-out;
   text-shadow: 0px 0px 10px rgba(196, 167, 103, 0.7);
   &::before {
    transition: 0.3s ease-in-out;
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    top: rem(-2px);
    bottom: rem(-2px);
    left: rem(-2px);
    right: rem(-2px);
    border-radius: rem(70.61px);
   }
  }
  &::after {
   content: '';
   position: absolute;
   inset: 0;
   border-radius: rem(70px);
   border: rem(2px) solid transparent;
   background: radial-gradient(
     80.12% 95.28% at 16.15% 4.72%,
     #eedeba 0%,
     #c4a767 100%
    )
    border-box;
   -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
   mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
  }
 }
 &__account-list {
  border-radius: rem(10px);
  background: rgba(0, 0, 0, 0.4);
 }
 &__account-list-item {
  -moz-column-gap: rem(12px);
  column-gap: rem(12px);
  font-size: rem(14px);
  line-height: rem(16.52px);
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  display: flex;
  font-weight: 400;
  padding: rem(11px) rem(11px);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 255, 255, 0.6);
  }
 }
 &__account-list-item.active {
  background: rgba(0, 0, 0, 0.6);
 }
 &__account-list-icon {
  width: rem(20px);
  height: rem(20px);
 }
 &__list-wrapper {
  width: 100%;
  padding: 0 rem(15px);
  align-self: flex-start;
  margin-bottom: rem(96px);
 }
 &__account-logout-wrapper {
  width: 100%;
  padding: 0 rem(15px);
  cursor: pointer;
 }
 &__account-logout {
  -moz-column-gap: rem(12px);
  column-gap: rem(12px);
  padding: rem(11px) rem(40px);
  display: flex;
  align-items: center;
 }

 &__logout-arrow {
  transition: 0.3s ease-in-out;
 }
 &__account-logout:hover &__logout-arrow {
  transition: 0.3s ease-in-out;
  stroke: rgba(232, 202, 137, 1);
  transform: translateX(-10%);
 }
 &__account-logout:active &__logout-arrow {
  transition: 0.3s ease-in-out;
  stroke: rgba(196, 167, 103, 0.7);
 }
 &__logout-path {
  transition: 0.3s ease-in-out;
 }
 &__account-logout:hover &__logout-path {
  transition: 0.3s ease-in-out;
  stroke: rgba(232, 202, 137, 1);
 }
 &__account-logout:active &__logout-path {
  transition: 0.3s ease-in-out;
  stroke: rgba(196, 167, 103, 0.7);
 }
 &__account-logout-text {
  font-size: rem(14px);
  line-height: rem(16.52px);
  font-weight: 500;
  color: rgba(196, 167, 103, 1);
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
 }
 &__account-logout:hover &__account-logout-text {
  transition: 0.3s ease-in-out;
  color: rgba(232, 202, 137, 1);
 }
 &__account-logout:active &__account-logout-text {
  transition: 0.3s ease-in-out;
  color: rgba(196, 167, 103, 0.7);
 }

 &__item-wrapper {
  -moz-column-gap: rem(12px);
  column-gap: rem(12px);
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 255, 255, 0.6);
  }
 }
 &__item-icon {
  width: rem(20px);
  height: rem(20px);
 }
 &__list-icon {
  width: rem(15px);
  height: rem(15px);
 }
 &__list {
  padding-left: rem(20px);
  padding-right: rem(20px);
  padding-bottom: rem(20px);
  display: flex;
  flex-direction: column;
 }
 &__top-wrapper {
  padding-bottom: rem(52px);
  margin-bottom: rem(52px);
  border-bottom: rem(1px) rgba(255, 255, 255, 0.2) solid;
 }
 &__img {
  transform: scale(1.1);
  margin-bottom: rem(51px);
  width: rem(270.71px);
 }
 &__title {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  @include banner-font(rem(28px));
  line-height: rem(30.91px);
 }
 &__subtitle {
  color: rgba(255, 255, 255, 1);
  line-height: rem(83.9px);
  @include banner-font(rem(76px));
  margin-bottom: 15px;
 }
 &__item-wrapper {
  font-size: rem(14px);
  line-height: rem(16.52px);
  font-weight: 500;
 }
 &__button {
  font-size: rem(16px);
  text-transform: uppercase;
  line-height: rem(16.52px);
  display: flex;
  background: none;
  @include gold-color;
  padding: rem(18.39px) rem(28.02px) rem(18.39px) rem(28.02px);
  border-radius: rem(70px);
  width: rem(161px);
  justify-content: center;
  transition: 0.6s;
  position: relative;
  &:hover {
   transition: 0.6s;
   color: rgba(255, 221, 147, 1);
   box-shadow: 0px 0px 8px 0px rgba(196, 167, 103, 1),
    0px 0px 8px 0px rgba(196, 167, 103, 1),
    inset 0px 0px 22px rgba(196, 167, 103, 0.6);
   text-shadow: 0px 0px 12px rgba(255, 221, 147, 1);
  }
  &::before {
   content: '';
   position: absolute;
   inset: 0;
   border-radius: rem(70px);
   border: 2px solid transparent;
   background: linear-gradient(
     140deg,
     rgba(238, 222, 186, 1),
     rgba(196, 167, 103, 1)
    )
    border-box;
   -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
   mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
  }
  &:active {
   color: rgba(196, 167, 103, 1);
   box-shadow: 0px 0px 17.8px 0px rgba(196, 167, 103, 1);
   text-shadow: 0px 0px 10px rgba(196, 167, 103, 0.7);
  }
 }

 &__item {
  -moz-column-gap: 12px;
  column-gap: 12px;
  padding-left: rem(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: rem(18px);
  cursor: default;
 }
 &__item:nth-last-child(2) {
  margin-bottom: 10px;
 }
 &__item.selected {
  margin-bottom: 0;
  padding-top: rem(10px);
  background: rgba(0, 0, 0, 0.4);
 }
 &__item-list {
  row-gap: rem(19px);
  flex-direction: column;
  display: flex;
  padding: rem(32px);
  padding-top: rem(23px);
  align-items: flex-start;
 }
 &__item-list-wrapper {
  display: flex;
  -moz-column-gap: rem(8px);
  column-gap: rem(8px);
  align-items: center;
 }
 &__list-item {
  font-size: rem(12px);
  line-height: rem(14.16px);
  color: rgba(196, 167, 103, 1);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
   transition: 0.3s;
   color: rgba(255, 255, 255, 1);
  }
 }
 @media (max-width: 1440px) {
  &__img {
   display: none;
  }
  &__top-wrapper {
   padding-top: 25px;
  }
 }
 @media (max-width: 1023px) {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: static;
  &__list {
   display: none;
  }
  &__top-wrapper {
   padding-top: rem(22px);
   padding-bottom: 0;
   border-bottom: none;
   margin-bottom: 0;
  }
  &__wrapper {
   padding-bottom: rem(47px);
  }
  &__title {
   line-height: rem(35px);
   font-size: rem(25px);
   margin-bottom: rem(16px);
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
  }
  &__subtitle {
   line-height: rem(66.24px);
   font-size: rem(60px);
   margin-bottom: rem(14px);
  }
 }
 @include onlymobile {
  @-webkit-keyframes animationLeft {
   0% {
    transform: translateX(-100%);
   }
   100% {
    transform: translateX(0%);
   }
  }
  @keyframes animationLeft {
   0% {
    transform: translateX(-100%);
   }
   100% {
    transform: translateX(0%);
   }
  }
  -webkit-animation: animationLeft 1s;
  animation: animationLeft 1s;
  &__top-wrapper {
   padding-top: 0;
   justify-content: space-between;
   display: flex;
   align-items: center;
  }
  &__button {
   height: rem(46px);
   align-items: center;
   height: -webkit-fit-content;
   height: -moz-fit-content;
   height: fit-content;
  }
  &__title {
   line-height: rem(22.4px);
   font-size: rem(16px);
   margin-bottom: rem(8px);
  }
  &__subtitle {
   line-height: rem(35.33px);
   font-size: rem(32px);
   margin-bottom: 0;
  }
  &__button {
   font-size: rem(14px);
  }
  &__wrapper {
   padding-left: rem(20px);
   padding-right: rem(16px);
   padding-top: rem(13px);
   padding-bottom: rem(9px);
   width: 100%;
  }
 }
}
.aside.fixed {
 transition: 0.3s;
 position: absolute;
 bottom: 20%;
}
.aside.mobile {
 display: none;
 @media (max-width: 1023px) {
  width: rem(215px);
  height: rem(228px);
  margin-right: rem(13px);
  display: block;
  z-index: 5;
  &__top-wrapper {
   padding-bottom: rem(47px);
   padding-top: rem(22px);
  }
 }
 @include onlymobile {
  width: rem(340px);
  height: 100%;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  position: relative;
  &::before {
   position: absolute;
   content: '';
   background: rgba(196, 167, 103, 1);
   height: 100%;
   width: 1%;
   top: 0;
  }
 }
}
.aside.mobile.all-games {
 display: none;
 @include onlymobile {
  display: flex;
  width: rem(340px);
  height: 100%;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  position: relative;
  &::before {
   position: absolute;
   content: '';
   background: rgba(196, 167, 103, 1);
   height: 100%;
   width: 1%;
   top: 0;
  }
 }
}
.aside.aside-account {
 -webkit-backdrop-filter: blur(rem(3px));
 backdrop-filter: blur(rem(3px));
 padding: rem(9px);

 @media (max-width: 1440px) {
  display: none;
 }
}

.aside.newbie {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/vip/newbie-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 92%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}
.aside.bronze {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/vip/bronze-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 92%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}
.aside.silver {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/vip/silver-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 92%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}
.aside.gold {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/vip/gold-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 92%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}
.aside.platinum {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/vip/platinum-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 92%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}

.aside.diamond {
 &::after {
  position: fixed;
  content: '';
  background: url('../../../img/account/diamond-flag.svg') no-repeat;
  width: rem(63.93px);
  height: rem(49.33px);
  top: 7%;
  right: 87%;
  z-index: -1;
  background-size: rem(63.93px) rem(49.33px);
 }
}
