.faq {
 @keyframes animFade {
  0% {
   max-height: 0;
  }

  100% {
   max-height: 100%;
  }
 }
 &__wrapper {
  display: flex;
  flex-direction: column;
 }
 &__wrapper-names.mobile {
  display: none;
 }
 &__wrapper-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px rgba(216, 216, 212, 0.2) solid;
 }
 &__name {
  font-size: rem(15px);
  line-height: rem(17.7px);
  color: rgba(216, 216, 212, 0.6);
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.5s; // Плавная смена цвета
  padding: rem(15px) rem(25px);
  position: relative;
  cursor: pointer;

  &:hover {
   color: rgba(216, 216, 212, 1);
  }

  &::after {
   position: absolute;
   content: '';
   width: 100%; // Полная ширина элемента
   height: 1.5px;
   left: 0; // Используем `left` для перемещения
   bottom: -2%;
   background: rgba(203, 61, 69, 1);
   transition: transform 0.3s ease, width 0.3s ease; // Плавное перемещение
   transform: scaleX(0); // Начальное состояние
   transform-origin: left;
  }
 }

 &__name.active {
  color: rgba(255, 255, 255, 1);
  transition: color 0.3s;

  &::after {
   transform: scaleX(1); // Подчеркивание появляется плавно
   transform-origin: left; // Подчеркивание идет слева направо
  }
 }
 &__questions-wrapper {
  padding-top: rem(53px);
  display: flex;
  flex-direction: column;
  row-gap: rem(17px);
 }
 &__item-title {
  @include banner-font(rem(25px));
  line-height: rem(35px);
  color: rgba(203, 61, 69, 1);
  text-transform: uppercase;
 }
 &__item-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
 }
 &__item-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
 }
 &__item-description-wrapper {
  width: rem(1160px);
  overflow: hidden;
 }
 &__item-description {
  font-size: rem(18px);
  line-height: rem(28.8px);
  font-weight: 300;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.9s;
  color: rgba(255, 255, 255, 0.8);
 }

 &__item-wrapper {
  padding: rem(25px) rem(20px) rem(25px) rem(20px);
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: rem(10px);
  cursor: pointer;
  transition: 0.5s;
  &:hover {
   transition: 0.5s;
   background: rgba(0, 0, 0, 0.2);
  }
 }
 &__item-wrapper.active &__item-description {
  max-height: rem(1000px);
  transition: 2.9s;
  opacity: 1;
 }
 &__item-icon-wrapper {
  position: relative;
  width: rem(30px);
  height: rem(18px);
 }
 &__item-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-style: preserve-3d;
 }
 &__item-icon.active {
  transform: rotateX(180deg);
  transition: 0.5s;
 }
 &__item-icon-inactive,
 &__item-icon-active {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
 }
 &__item-icon-inactive {
  backface-visibility: hidden;
  transition: 0.5s;
 }
 &__item-icon-active {
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
 }
 @media (max-width: 1440px) {
  &__name {
   font-size: rem(13px);
   line-height: rem(17.7px);
   padding: rem(15px) rem(25px) rem(15px) rem(25px);
  }
  &__item-description-wrapper {
   width: rem(852px);
  }
 }
 @media (max-width: 1023px) {
  &__name {
   font-size: rem(12px);
   line-height: rem(14.16px);
   padding: rem(15px) rem(7px) rem(15px) rem(7px);
  }
  &__item-title {
   font-size: rem(20px);
  }
  &__item-description-wrapper {
   width: rem(624px);
  }
  &__item-wrapper {
   padding: rem(27.5px) rem(20px) rem(27.5px) rem(20px);
  }
  &__item-description {
   font-size: rem(16px);
  }
 }
 @include onlymobile {
  &__wrapper-names {
   display: none;
  }
  &__questions-wrapper {
   padding-top: rem(24px);
  }
  &__wrapper-names.mobile {
   border-bottom: none;
   display: flex;
   flex-direction: column;
   row-gap: rem(5px);
  }
  &__name.current,
  &__name.mobile {
   padding: 0;
  }
  &__item-title {
   font-size: rem(16px);
   line-height: rem(22.4px);
  }
  &__item-description-wrapper {
   width: rem(235px);
  }
  &__item-description {
   font-size: rem(16px);
   line-height: rem(25.6px);
  }
  &__name.current {
   padding: rem(16px) rem(25px) rem(16px) rem(25px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: capitalize;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.5);
   border-radius: rem(70.06px);
   position: relative;

   &::after {
    position: static;
    width: rem(20px);
    height: rem(20px);
    background-repeat: no-repeat;
    transition: 0.3s;
    content: '';
    background: url('../../../img/icons/dropdown-icon.svg') no-repeat;
    background-size: 100%;
   }
  }
  &__wrapper-names.mobile.opened &__name.current {
   &::after {
    transform: rotateX(180deg);
   }
  }

  &__names-list {
   display: flex;
   flex-direction: column;
   background: rgba(16, 16, 16, 1);
   box-shadow: 0px 3px 3.7px 0px rgba(11, 14, 15, 0.3);
   border-radius: rem(15px);
   align-self: center;
   overflow: hidden;
   max-height: 0;
   width: 100%;
   transition: 0.5s;
  }

  &__names-list.active {
   max-height: rem(1000px);
   transition: 0.5s;
  }

  &__name.mobile {
   display: flex;
   align-items: center;
   padding: rem(6px) rem(16px) rem(6px) rem(16px);
   color: rgba(255, 255, 255, 1);
   font-weight: 400;
   text-transform: capitalize;
   &:nth-child(1) {
    padding-top: rem(10px);
   }
   &:nth-last-child(1) {
    padding-bottom: rem(10px);
   }
   &:active {
    background: rgba(255, 255, 255, 0.05);
   }
  }
 }
}
