.footer {
 position: relative;
 padding-bottom: 46px;
 overflow: hidden;
 z-index: 6;
 background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 45.37%);

 &__top {
  margin-bottom: 122px;
  padding-right: 100px;
 }
 &__top-wrapper {
  padding-top: 80px;
  border-top: 1px rgba(196, 167, 103, 0.2) solid;
 }

 &__categories-name {
  margin-bottom: 38px;
  color: rgba(203, 61, 69, 1);
  text-transform: uppercase;
  @include banner-font(25px);
 }
 &__middle-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  @include banner-font(25px);
  color: rgba(203, 61, 69, 1);
 }
 &__middle-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
 }
 &__top-wrapper {
  row-gap: 43px;
  display: flex;
  justify-content: space-between;
 }
 &__middle-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 843px));
  column-gap: 137px;
  row-gap: 70px;
  justify-content: space-between;
 }
 &__top-categories-list {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  max-height: 173px;
  column-gap: 33px;
  flex-wrap: wrap;
 }
 &__multiple-categories-wrapper {
  column-gap: 50px;
  display: flex;
 }
 &__category {
  color: rgba(216, 216, 212, 1);
  line-height: 16.52px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
   color: rgba(255, 255, 255, 1);
   transition: 0.3s;
  }
 }
 &::after {
  top: 20%;
  position: absolute;
  content: url('../../../img/footer/weed1.png');
 }
 &::before {
  top: 0;
  right: 0;
  position: absolute;
  content: url('../../../img/footer/weed2.png');
 }
 &__middle {
  margin-bottom: 107px;
 }
 &__middle-list-wrapper {
  column-gap: 70px;
  display: flex;
 }
 &__middle-item {
  pointer-events: none;
  line-height: 25.6px;
  font-weight: 400;
  list-style-type: disc;
  margin-left: 20px;
  &::marker {
   font-size: 12px;
  }
 }
 &__bottom-wrapper {
  display: grid;
  grid-template-columns: 20% 50% 1fr;
  column-gap: 50px;
  justify-items: center;
 }
 &__bottom-text {
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(255, 255, 255, 0.4);
 }
 &__payment-wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(20px);
 }
 &__payment {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(255, 255, 255, 0.6);
 }
 &__bottom-payment-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 22px;
 }
 &__icons-wrapper {
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
  row-gap: 28px;
 }
 &__payment-icons {
  display: flex;
  column-gap: 19px;
 }
 &__enterprise-icons {
  display: flex;
  column-gap: 19px;
  row-gap: 20px;
 }
 &__top-wrapper {
  position: relative;
 }
 &__bottom-text-wrapper {
  display: flex;
  column-gap: 50px;
  row-gap: 20px;
 }
 @media screen and (max-width: 1410px) {
  &__payment-wrapper {
   transform: translateY(0);
  }
  &__top-wrapper {
   flex-wrap: wrap;
  }
  &__middle-wrapper {
   display: flex;
   flex-wrap: wrap;
  }
  &__bottom-wrapper {
   display: flex;
   flex-wrap: wrap;
  }
  &__icons-wrapper {
   transform: translateY(0);
   flex-direction: row-reverse;
   flex: 1;
   column-gap: 80px;
  }
  &__payment-icons {
   flex: 1;
   column-gap: 19px;
   justify-content: center;
  }
  &::after {
   content: url('../../../img/footer/weed1-1410.png');
  }
  &::before {
   content: url('../../../img/footer/weed2-1410.png');
  }
  &__bottom-text-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 37px;
  }
  &__top-categories-wrapper {
   &:nth-last-child(1) {
    width: 100%;
   }
  }
  &__top-categories-list {
   max-height: 100px;
  }
 }
 @media screen and (max-width: 872px) {
  &::after {
   right: 0;
   top: 10%;
   content: url('../../../img/footer/weed2-872.svg');
  }
  &::before {
   left: 0;
   top: 30%;
   content: url('../../../img/footer/weed1-872.svg');
  }
  &__bottom-text-wrapper {
   flex-direction: column;
   row-gap: 24px;
  }
  &__icons-wrapper {
   flex-wrap: wrap;
   flex: auto;
   flex-direction: row;
  }
  &__payment-icons {
   flex: auto;
   justify-content: normal;
  }
  &__top {
   padding-right: 0;
  }
  &__top-categories-list {
   max-height: 172px;
  }
  &__bottom-text-wrapper {
   display: flex;
   flex-direction: column;
  }
 }
 @media screen and (max-width: 510px) {
  &::after {
   top: 40%;
   content: url('../../../img/footer/weed2-510.svg');
  }
  &::before {
   top: 0;
   content: url('../../../img/footer/weed1-510.svg');
  }
  &__multiple-categories-wrapper {
   flex-direction: column;
   row-gap: 20px;
  }
  &__enterprise-icons {
   flex-wrap: wrap;
  }
  &__top-categories-list {
   max-height: 100%;
  }
  &__middle-list-wrapper {
   flex-direction: column;
  }
 }
}
