.footer {
 position: relative;
 padding-bottom: rem(46px);
 overflow: hidden;
 z-index: 6;
 background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 45.37%);

 &__top {
  margin-bottom: rem(122px);
  padding-right: rem(100px);
 }
 &__top-wrapper {
  padding-top: rem(80px);
  border-top: 1px rgba(196, 167, 103, 0.2) solid;
 }

 &__categories-name {
  margin-bottom: rem(38px);
  color: rgba(203, 61, 69, 1);
  text-transform: uppercase;
  @include banner-font(rem(25px));
 }
 &__middle-title {
  text-transform: uppercase;
  margin-bottom: rem(30px);
  @include banner-font(rem(25px));
  color: rgba(203, 61, 69, 1);
 }
 &__middle-subtitle {
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(25.6px);
 }
 &__top-wrapper {
  row-gap: rem(43px);
  display: flex;
  justify-content: space-between;
 }
 &__middle-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(rem(300px), rem(843px)));
  column-gap: rem(137px);
  row-gap: rem(70px);
  justify-content: space-between;
 }
 &__top-categories-list {
  display: flex;
  flex-direction: column;
  row-gap: rem(22px);
  max-height: rem(173px);
  column-gap: rem(33px);
  flex-wrap: wrap;
 }
 &__multiple-categories-wrapper {
  column-gap: rem(50px);
  display: flex;
 }
 &__category {
  color: rgba(216, 216, 212, 1);
  line-height: rem(16.52px);
  font-weight: 500;
  font-size: rem(14px);
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
   color: rgba(255, 255, 255, 1);
   transition: 0.3s;
  }
 }
 &::after {
  top: 20%;
  position: absolute;
  content: url('../../../img/footer/weed1.png');
 }
 &::before {
  top: 0;
  right: 0;
  position: absolute;
  content: url('../../../img/footer/weed2.png');
 }
 &__middle {
  margin-bottom: rem(107px);
 }
 &__middle-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(70px);
  width: rem(598px);
 }
 &__middle-item {
  pointer-events: none;
  line-height: rem(25.6px);
  font-weight: 400;
  list-style-type: disc;
  margin-left: rem(20px);
  font-size: rem(16px);
  &::marker {
   font-size: rem(12px);
  }
 }
 &__bottom-wrapper {
  display: grid;
  grid-template-columns: 20% 50% 1fr;
  column-gap: rem(50px);
  justify-items: center;
 }
 &__bottom-text {
  align-self: center;
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(255, 255, 255, 0.4);
 }
 &__payment-wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(rem(20px));
 }
 &__payment {
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(255, 255, 255, 0.6);
 }
 &__bottom-payment-text {
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: rem(22px);
 }
 &__icons-wrapper {
  transform: translateY(rem(20px));
  display: flex;
  flex-direction: column;
  row-gap: rem(28px);
 }
 &__payment-icons {
  display: flex;
  column-gap: rem(19px);
 }
 &__enterprise-icons {
  display: flex;
  column-gap: rem(19px);
  row-gap: rem(20px);
 }
 &__top-wrapper {
  position: relative;
 }
 &__bottom-text-wrapper {
  display: flex;
  column-gap: rem(50px);
  row-gap: rem(20px);
 }
 @media screen and (max-width: 1440px) {
  &__payment-wrapper {
   transform: translateY(0);
  }
  &__top {
   padding-right: 0;
   margin-bottom: rem(99px);
  }
  &__top-wrapper {
   row-gap: rem(62px);
   flex-wrap: wrap;
  }
  &__middle {
   margin-bottom: rem(74px);
  }
  &__middle-wrapper {
   display: flex;
   flex-wrap: wrap;
   row-gap: rem(47px);
  }
  &__bottom-wrapper {
   display: flex;
   flex-wrap: wrap;
  }
  &__icons-wrapper {
   transform: translateY(0);
   flex-direction: row-reverse;
   flex: 1;
   column-gap: rem(80px);
  }
  &__payment-icons {
   flex: 1;
   column-gap: rem(19px);
   justify-content: center;
  }
  &::after {
   content: url('../../../img/footer/weed1-1410.png');
  }
  &::before {
   content: url('../../../img/footer/weed2-1410.png');
  }
  &__bottom-text-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: rem(37px);
   column-gap: rem(24px);
  }
  &__top-categories-wrapper {
   &:nth-last-child(1) {
    width: 100%;
   }
  }
  &__top-categories-list {
   display: flex;
   flex-wrap: wrap;
   max-height: fit-content;
  }
  &__top-categories-wrapper:nth-last-child(1) > &__top-categories-list {
   display: grid;
   grid-template-columns: repeat(4, minmax(auto, 1fr));
  }
  &__middle-list {
   grid-template-columns: repeat(3, minmax(auto, 1fr));
   column-gap: rem(80px);
  }
 }
 @media screen and (max-width: 1023px) {
  &::after {
   right: 0;
   top: 10%;
   content: url('../../../img/footer/weed2-872.svg');
  }
  &::before {
   left: 0;
   top: 30%;
   content: url('../../../img/footer/weed1-872.svg');
  }
  &__bottom-text-wrapper {
   flex-direction: column;
   row-gap: rem(24px);
  }
  &__icons-wrapper {
   flex-wrap: wrap;
   flex: auto;
   flex-direction: row;
  }
  &__payment-icons {
   flex: auto;
   justify-content: normal;
  }
  &__top {
   padding-right: 0;
   margin-bottom: rem(78px);
  }
  &__top-wrapper {
   row-gap: rem(43px);
  }
  &__middle {
   margin-bottom: rem(55px);
  }
  &__middle-list {
   grid-template-columns: repeat(2, minmax(auto, 1fr));
   column-gap: rem(80px);
  }
  &__top-categories-list {
   height: rem(172px);
  }
  &__bottom-text-wrapper {
   display: flex;
   flex-direction: column;
  }
  &__top-categories-wrapper:nth-last-child(1) > &__top-categories-list {
   display: flex;
  }
 }
 @include onlymobile {
  &::after {
   top: 40%;
   content: url('../../../img/footer/weed2-510.svg');
  }
  &::before {
   top: 0;
   content: url('../../../img/footer/weed1-510.svg');
  }
  &__multiple-categories-wrapper {
   flex-direction: column;
   row-gap: rem(20px);
  }
  &__enterprise-icons {
   flex-wrap: wrap;
  }
  &__top {
   margin-bottom: rem(68px);
  }
  &__top-categories-list {
   flex-direction: column;
   height: 100%;
  }
  &__middle-wrapper {
   row-gap: rem(35px);
  }
  &__middle {
   margin-bottom: rem(43px);
  }
  &__middle-list {
   display: flex;
   flex-direction: column;
  }
  &__bottom-text-wrapper {
   row-gap: rem(17px);
   margin-bottom: rem(48px);
  }
  &__top-categories-list {
   max-height: 100%;
  }
  &__middle-list-wrapper {
   flex-direction: column;
  }
  &__bottom-logo {
   width: rem(243px);
  }
 }
}
