@mixin gold-color {
 color: rgba(196, 167, 103, 1);
}
@mixin banner-font($fs) {
 font-family: 'Forum', sans-serif;
 font-weight: 400;
 font-size: $fs;
}
@mixin gothic-font($fs) {
 font-family: 'Gamgote', sans-serif;
 font-weight: 400;
 font-size: $fs;
}
@mixin proxima($fs) {
 font-family: 'proxima_nova_rgregular', sans-serif;
 font-size: $fs;
}
@import '../varibles.scss';

@mixin ifdesktop {
 @media (min-width: 1441px) {
  @content;
 }
}
@mixin iflaptop {
 @media screen and (min-width: $laptop-w) {
  @content;
 }
}
@mixin iftablet {
 @media screen and (min-width: $tablet-w) {
  @content;
 }
}
@mixin onlymobile {
 @media screen and (min-width: 0px) and (max-width: calc($tablet-w - 1px)) {
  @content;
 }
}
