.main {
 transition: 0.3s;
 padding-top: 38px;
 padding-bottom: 134px;
 position: relative;
 display: flex;
 flex-direction: column;
 overflow-x: clip;
 z-index: 5;
 align-items: center;

 &__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 }
 &__content-wrapper {
  width: 106%;
  display: flex;
 }
 &__wrapper.games {
  padding-top: 0;
  flex-direction: column;
 }
 &__right-content {
  max-width: 1024px;
 }
 &__banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  position: relative;
  background: linear-gradient(95deg, #000d08 1.23%, #26382f 64.66%);
  padding: 28px 36px 58px 29px;
  overflow: hidden;
  border-radius: 10px;
 }
 &__banner:after {
  top: 0;
  left: 0;
  position: absolute;
  content: url('../../../img/bg/spark-left.png');
 }
 &__banner:before {
  transform: scale(1);
  top: -12px;
  right: 0;
  position: absolute;
  bottom: 0;
  content: url('../../../img/bg/spark-right.png');
 }
 &__bonus {
  padding: 46px 20px 50px 22px;
  margin-right: 17px;
  width: 243px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
 }
 &__top {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 59px;
 }
 &__banner-text-wrapper {
  justify-content: space-between;
  z-index: 5;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
 }
 &__banner-title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  @include banner-font(28px);
 }
 &__banner-subtitle {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  @include banner-font(76px);
 }
 &__banner-button {
  text-transform: uppercase;
  border-radius: 80px;
  color: black;
  position: relative;
  padding: 21px 32px 21px 32px;
  background: url('../../../img/bg/button-bg.png');
  max-height: 53px;
  display: flex;
  align-items: center;
  &::after {
   position: absolute;
   top: -2px;
   bottom: -2px;
   left: -2px;
   right: -2px;
   background: linear-gradient(rgba(238, 222, 186, 1), rgba(196, 167, 103, 1));
   content: '';
   z-index: -1;
   border-radius: 70.06px;
  }
  &:hover {
   transition: 0.3s;
   box-shadow: 0px 0px 18px 0px rgba(196, 167, 103, 1);
  }
  &::after {
   position: absolute;
   top: -2px;
   bottom: -2px;
   left: -2px;
   right: -2px;
   background: radial-gradient(
    80.12% 95.28% at 16.15% 4.72%,
    #eedeba 0%,
    #c4a767 100%
   );
   content: '';
   z-index: -1;
   border-radius: 70.06px;
  }
  &:hover {
   color: black;
  }
  &:active {
   transition: 0.3s;
   &::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
   }
  }
 }
 &__banner-img {
  z-index: 3;
  top: 20px;
  right: 15%;
  position: absolute;
 }
 &__banner-wrapper {
  width: 100%;
  position: relative;
 }
 &__pages-wrapper {
  column-gap: 14px;
  text-transform: uppercase;
  @include banner-font(28px);
  display: flex;
 }
 &__pages-prev {
  column-gap: 14px;
  align-items: center;
  display: flex;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  &::after {
   top: 50%;
   content: '';
   display: block;
   width: 23px;
   height: 1px;
   background: rgba(255, 255, 255, 0.2);
  }
 }
 &__pages-current {
  color: rgba(196, 167, 103, 1);
 }

 &__gradient {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  background: linear-gradient(
   180deg,
   rgba(42, 42, 42, 1) 0%,
   rgba(0, 0, 0, 1) 35%,
   rgba(0, 0, 0, 1) 100%
  );
 }
 &__banner-loader-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  z-index: 1;
 }
 &__banner-loader {
  transform: rotate(180deg);
 }
 &__banner-loader-opacity {
  transition: 0.3s;
  opacity: 0.3;
 }
 &__banner-loader.next {
  transform: scale(1, -1);
 }
 &__banner-loader.prev.mobile {
  display: none;
 }
 &__banner-loader {
  cursor: pointer;
  transition: 0.3s;
 }
 &__banner-border {
  opacity: 0;
 }
 &__banner-loader:hover &__banner-border {
  transition: 0.3s;
  opacity: 1;
 }
 &__banner-loader:hover &__banner-loader-opacity {
  transition: 0.3s;
  opacity: 1;
 }
 &__banner-loader.active &__banner-border {
  opacity: 1;
 }
 &__banner-loader.active &__banner-loader-opacity {
  opacity: 1;
 }

 @media (max-width: 1410px) {
  &__gradient {
   display: none;
  }
  &__banner-img {
   right: 5%;
   top: 85px;
   width: 355px;
  }
  &__right-content {
   flex: 1;
  }
  &__content {
   padding-left: 0;
   padding-right: 0;
  }
  &__content-wrapper {
   width: 100%;
   padding-left: 40px;
   padding-right: 40px;
  }
  &__wrapper {
   display: block;
  }
 }

 @media (max-width: 767px) {
  padding-bottom: 0;
  &__wrapper {
   width: 100%;
   flex-direction: row;
   justify-content: normal;
   flex-wrap: wrap;
   display: block;
   padding-left: 0;
   padding-right: 0;
  }
  &__banner-wrapper {
   display: none;
  }
  &__content-wrapper {
   padding-right: 20px;
   padding-left: 20px;
  }
  &__top-wrapper.mobile {
   display: flex;
   max-height: 228px;
  }
  &__banner-loader.prev {
   display: none;
  }
  &__banner-loader.prev.mobile {
   display: block;
  }
  &__banner-title {
   margin-bottom: 16px;
   font-size: 25px;
   line-height: 35px;
  }
  &__banner-subtitle {
   font-size: 60px;
   line-height: 66.24px;
   margin-bottom: 14px;
  }
  &__banner-img {
   top: 70px;
   right: 0;
   width: 306px;
  }
  &__banner {
   height: 100%;
   padding: 20px 23px 38px 24px;
  }
  &__banner-loader-wrapper {
   column-gap: 12px;
  }
  &__banner-loader.next.mobile,
  &__banner-loader.prev.mobile {
   transition: 0.3s;
   &:hover {
    transition: 0.3s;
    border: 2px rgba(196, 167, 103, 1) solid;
    border-radius: 30px;
   }
  }
 }
 @media only screen and (max-width: 540px) {
  padding-right: 0;
  padding-left: 0;
  &__top-wrapper.mobile {
   max-height: 100%;
   flex-direction: column-reverse;
  }
  &__banner-img {
   top: 35%;
   width: 232px;
  }
  &__banner-title {
   font-size: 20px;
   line-height: 28px;
   margin-bottom: 8px;
  }
  &__banner {
   padding: 20px;
   max-height: 190px;
   border-radius: 0;
  }
  &__banner-subtitle {
   font-size: 48px;
   line-height: 52.99px;
   margin-bottom: 16px;
  }
  &__top-wrapper.mobile {
   row-gap: 28px;
  }
  &__banner-button {
   padding: 18.39px 28.02px 18.39px 28.02px;
   font-size: 14px;
   line-height: 16.52px;
   max-width: 167px;
   max-height: 46px;
  }
  &__content {
   padding-right: 0;
   padding-left: 0;
  }
  &__content-wrapper {
   padding-left: 0;
   padding-right: 0;
  }
 }
}

.main__banner-wrapper.mobile {
 @media (max-width: 768px) {
  display: block;
  flex: 1;
  position: relative;
 }
 display: none;
}
.main.games {
 width: 100%;
 flex-direction: row;
 padding-top: 37px;
}
