.partners-form {
 padding-top: rem(117px);
 position: relative;
 &::before {
  z-index: 2;
  position: absolute;
  content: '';
  background: radial-gradient(
   50% 50% at 50% 50%,
   rgba(196, 167, 103, 0.3) 0%,
   rgba(196, 167, 103, 0) 100%
  );

  background-position: center;
  background-repeat: no-repeat;
  width: 918px;
  height: 742px;
  transform: translate(20%, -30%);
 }
 @media (max-width: 1440px) {
  padding-left: rem(40px);
  padding-right: rem(40px);
  padding-bottom: 0;
  &::before {
   transform: translate(0%, -30%);
  }
 }
 @media (max-width: 1023px) {
  padding-left: rem(20px);
  padding-right: rem(20px);
  padding-bottom: 0;
  &::before {
   width: rem(449px);
   height: rem(627px);
   transform: translate(-14%, -15%);
  }
 }
 @include onlymobile {
  padding-top: rem(76px);
 }
}

.process-chargeback {
 position: sticky;
 top: rem(110px);
 max-width: rem(499px);
 width: 100%;
 height: 100%;
 &__title {
  @include banner-font(rem(25px));
  line-height: rem(35px);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: rem(25px);
 }
 &__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(3px);
 }
 &__stage {
  background: rgba(196, 167, 103, 0.05);
  padding: rem(7px) rem(10px) rem(7px) rem(10px);
  align-self: start;
  width: 100%;
  border-radius: rem(10px);
 }
 &__stage-text {
  font-size: rem(14px);
  line-height: rem(22.4px);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
 }
 &__stage-note {
  font-size: rem(12px);
  line-height: rem(19.2px);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
 }
 &__stage-arrow {
  width: rem(20px);
  height: rem(20px);
 }
 &__columns-wrapper {
  column-gap: rem(13px);
  display: flex;
 }
 &__column &__stage {
  max-width: rem(243px);
 }
 &__column {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 &__column:nth-child(2) &__stage:nth-last-child(1) {
  border: 1px solid rgba(203, 61, 69, 1);
 }
 &__column:nth-child(1) &__stage:nth-last-child(1) {
  border: 1px solid rgba(203, 61, 69, 1);
  position: relative;
  &::after {
   position: absolute;

   content: '';
   background: url('data:image/svg+xml,<svg width="134" height="33" viewBox="0 0 134 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M133 0.492188H0.5V32" stroke="%23CB3D45" stroke-linecap="round"/></svg>')
    no-repeat;
   width: rem(134px);
   height: rem(33px);
   right: -5.5%;
   top: -35%;
   background-size: 100% 100%;
  }
 }
 &__column:nth-child(1) &__stage:nth-child(8) {
  border: 1px solid rgba(203, 61, 69, 1);
  margin-bottom: rem(50px);
 }
 @media (max-width: 1440px) {
  position: static;
  max-width: rem(499px);
 }
 @media (max-width: 1024px) {
  display: flex;
  max-width: 100%;
  padding-bottom: rem(87px);
  display: flex;
  flex-direction: column;
  &__wrapper {
   align-self: center;
   width: rem(499px);
  }
 }
 @include onlymobile {
  &__title {
   font-size: rem(20px);
   line-height: rem(28px);
  }
  &__wrapper {
   width: 100%;
  }
  &__stage-text {
   font-size: rem(8.98px);
   line-height: rem(14.36px);
  }
  &__column:nth-child(1) &__stage:nth-child(8) {
   border: 1px solid rgba(203, 61, 69, 1);
   margin-bottom: rem(40px);
  }
  &__column:nth-child(1) &__stage:nth-last-child(1) {
   border: 1px solid rgba(203, 61, 69, 1);
   position: relative;
   &::after {
    position: absolute;

    content: '';
    background: url('data:image/svg+xml,<svg width="134" height="33" viewBox="0 0 134 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M133 0.492188H0.5V32" stroke="%23CB3D45" stroke-linecap="round"/></svg>')
     no-repeat;
    width: rem(85px);
    height: rem(20px);
    right: -5.5%;
    top: -35%;
    background-size: 100% 100%;
   }
  }
  &__stage-arrow {
   width: rem(12.83px);
   height: rem(12.83px);
  }
 }
}
.chargeback-form {
 padding-top: rem(80px);
 &__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
 }
 &__form-wrapper {
  position: relative;
  &::after {
   content: '';
   position: absolute;
   background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(196, 167, 103, 0.3) 0%,
    rgba(196, 167, 103, 0) 100%
   );
   width: rem(918px);
   height: rem(742px);
   top: -20%;
   left: 0;
   z-index: -1;
  }
  @include onlymobile {
   &::after {
    content: '';
    position: absolute;
    background: radial-gradient(
     50% 50% at 50% 50%,
     rgba(196, 167, 103, 0.3) 0%,
     rgba(196, 167, 103, 0) 100%
    );
    width: rem(449px);
    height: rem(754px);
    top: -20%;
    left: -20%;
    z-index: -1;
   }
  }
 }
 &__img-wrapper {
  @include ifdesktop {
   position: relative;
   transform: translateX(-130px);
   &::after {
    content: '';
    position: absolute;
    background: radial-gradient(
     50% 50% at 50% 50%,
     rgba(196, 167, 103, 0.3) 0%,
     rgba(196, 167, 103, 0) 100%
    );
    width: rem(878px);
    height: rem(392px);
    left: -45%;
    bottom: 0;
    z-index: -1;
   }
  }
 }
 &__img {
  width: rem(442px);
  height: rem(622px);
 }
 @media (max-width: 1024px) {
  &__img-wrapper {
   display: none;
  }
 }
}

.refunds-form {
 &__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &::after {
   position: absolute;
   content: '';
   background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(196, 167, 103, 0.3) 0%,
    rgba(196, 167, 103, 0) 100%
   );
   width: rem(918px);
   height: rem(742px);
   left: -7%;
   top: -13%;
  }
 }
 &__wrapper .main__form-wrapper {
  transform: translateY(rem(75px));
 }
 &__img-wrapper {
  position: relative;
  transform: translate(rem(30px), rem(90px));
  &::after {
   position: absolute;
   content: '';
   background: radial-gradient(
    39.8% 39.8% at 50% 50%,
    rgba(196, 167, 103, 0.2) 0%,
    rgba(196, 167, 103, 0) 100%
   );
   width: rem(878px);
   height: rem(392px);
   right: -50%;
   bottom: -5%;
  }
 }
 &__img {
  width: rem(442px);
  height: rem(622px);
 }
 @media (max-width: 1440px) {
  padding-top: rem(113px);
  &__img-wrapper {
   display: none;
  }
  &__wrapper .main__form-wrapper {
   transform: none;
  }
  &__wrapper {
   justify-content: center;
   &::after {
    left: 0%;
    top: -35%;
   }
  }
 }
}

.play-sensibly {
 max-width: rem(505px);
 width: 100%;
 position: sticky;
 top: rem(115px);
 height: 100%;
 &__title {
  @include banner-font(rem(25px));
  line-height: rem(35px);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: rem(30px);
 }
 &__subtitle {
  font-size: rem(16px);
  line-height: rem(25.6px);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  margin-bottom: rem(30px);
 }
 &__links {
  display: flex;
  flex-direction: column;
  row-gap: rem(16px);
 }
 &__link-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(22px) rem(26px);
  background: rgba(196, 167, 103, 0.07);
  border-radius: rem(10px);
  transition: 0.3s ease-in-out;
  &:hover {
   transition: 0.3s ease-in-out;
   background: none;
  }
 }
 &__link-title {
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16.52px);
  color: rgba(255, 255, 255, 1);
 }
 &__link-icon {
  width: rem(14px);
  height: rem(14px);
 }
 @media (max-width: 1440px) {
  position: static;
  max-width: 100%;
  padding-bottom: rem(51px);
 }
}

.on-this-page {
 height: fit-content;
 max-width: rem(293px);
 width: 100%;
 background: rgba(0, 0, 0, 0.4);
 border-radius: rem(10px);
 padding: rem(60px) rem(30px);
 position: sticky;
 top: rem(180px);
 transform: translateY(rem(-60px));
 scroll-behavior: smooth;
 &__title {
  @include banner-font(rem(25px));
  line-height: rem(35px);
  text-transform: uppercase;
  color: rgba(203, 61, 69, 1);
  margin-bottom: rem(30px);
 }
 &__list {
  display: flex;
  flex-direction: column;
  row-gap: rem(15px);
 }
 &__item {
  font-size: rem(15px);
  line-height: rem(24px);
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s ease-in;
  &:hover {
   transition: 0.3s ease-in;
   color: rgba(255, 255, 255, 1);
  }
 }
 @media (max-width: 1440px) {
  display: none;
 }
}
